In [ ]:
# Python is Case-Sensitive

print("Hello World")

Hello World

In [ ]:
print(6)

6

In [ ]:
print(5.6)

5.6

In [ ]:
print(False)

False

In [ ]:
print("India", "Pakistan", "Nepal", "Srilanka")

India Pakistan Nepal Srilanka

In [ ]:
print("India", 5, True)

India 5 True

In [ ]:
print("India", "Pakistan", "Nepal", "Srilanka", sep='/')

India/Pakistan/Nepal/Srilanka

In [ ]:
print("India", "Pakistan", "Nepal", "Srilanka", sep='-')

India-Pakistan-Nepal-Srilanka

In [ ]:
print("Hello")
print("World")

Hello
World

In [ ]:
print("Hello", end=' ')
print("World")

Hello World

# **Python Data Types Categories**

## Basic Types:

Int: Whole nums (1, 2, 3).

Float: Decimals (3.14, 2.5).

Complex: Real+Imag (1 + 2j).

Bool: True/False.

Str: Text ("hello").

## Container Types:

List: Ordered items.
[1, 2, 3]

Tuple: Ordered, immutable.
(1, 2, 3)

Set: Unordered, unique.
{1, 2, 3}

Dict: Key-value pairs.
{'k1': 'v1', 'k2': 'v2'}

## User-Defined Types:

Class: Obj blueprint.

# **int**

In [ ]:
# Numbers
print(4)

# Large Numbers
print(1e308)  # 1 * 10^308
print(1e309)  # 'inf' (exceeds float limit)

4
1e+308
inf

# **bool**

In [ ]:
# Boolean Values
print(True)
print(False)

True
False

# **complex**

In [ ]:
# Complex Number
print(4 + 5j)

(4+5j)

# **str**

In [ ]:
# Strings with Different Quotation Styles
print('Kolkata')       # single quotes
print("Kolkata")       # double quotes
print('''Kolkata''')   # triple single quotes
print("""Kolkata""")   # triple double quotes

Kolkata
Kolkata
Kolkata
Kolkata

# **list**

In [ ]:
# List
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

# **tuple**

In [ ]:
# Tuple
print((1, 2, 3, 4, 5))

(1, 2, 3, 4, 5)

# **set**

In [ ]:
# Set
print({1, 2, 3, 4, 5})

{1, 2, 3, 4, 5}

# **dict**

In [ ]:
# Dictionary
print({"Name": "Saurabh", "Age": 22, "Gender": "Male"})

{'Name': 'Saurabh', 'Age': 22, 'Gender': 'Male'}

In [ ]:
# this is a comment

#Static vs Dynamic Typing:

Dynamic Typing (Python): Types change during execution.

Static Typing: Fixed types before runtime.

#Static vs Dynamic Binding:

Static Binding: Types fixed at compile-time.

Dynamic Binding: Types associated at runtime, changeable during execution.

#Stylish Declaration Techniques:

Clear, efficient variable/structure declarations in Python.

Use Python's flexibility for concise, readable code.

In [ ]:
# c
a = 5

In [ ]:
name = 'Saurabh'

In [ ]:
name = 'Hello World'
print(name)

Hello World

#No Var Decl in Python

Use vars w/o prior decl.

Assign val directly; Python auto-creates.

In [ ]:
# Dynamic Typing (PHP)
$a = 5;

# Static Typing (Java)
a = 5;

SyntaxError: invalid syntax (<ipython-input-10-bf0ab8e5d91f>, line 2)

In [ ]:
print(name)

Hello World

In [ ]:
name = 4
print(name)

4

In [ ]:
name = True
print(name)

True

In [ ]:
# Dynamic Binding Example
a = 5          # Assign integer
print(a)

a = 'nitish'   # Reassign string
print(a)

5
nitish

In [ ]:
# Static Binding Example
a = 5

In [ ]:
# Special Syntax
a = 5; b = 6; c = 7

print(a)
print(b)
print(c)

5
6
7

In [ ]:
a, b, c = 5, 6, 7

print(a)
print(b)
print(c)

5
6
7

In [ ]:
a = b = c = 6

print(a, b, c)

6 6 6

#Keywords
##Python is case sensitive

Keywords: reserved words, special meanings

Cannot use as variable names

In [ ]:
# Python has 33 keywords.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#Identifiers
Identifier are name for var, func, class, module, etc.

##Rules:

Start with letter or _

Followed by letters, digits, _

Not a Python keyword

In [ ]:
name = 'Saurabh'
print(name)

Saurabh

In [ ]:
_ = 'Saurabh'
print(_)

Saurabh

In [ ]:
first_name = 'Saurabh'
print(first_name)

Saurabh

In [ ]:
False = 'Saurabh'
print(False)

SyntaxError: cannot assign to False (<ipython-input-24-bd9c1887d726>, line 1)

# **User Input**

In [ ]:
# Static vs Dynamic
input('Enter Email')

Enter Emailanusha.22cse@bmu.edu.in

'anusha.22cse@bmu.edu.in'

In [ ]:
# Input from user
age = input("Enter your age: ")

Enter your age: 20

In [ ]:
first_num = int(input("Enter first number: "))
second_num = int(input("Enter second number: "))

Enter first number: 1
Enter second number: 2

In [ ]:
print(first_num)
print(second_num)

1
2

In [ ]:
result = first_num + second_num
print(result)

3

In [ ]:
# type() function
type(4)

int

In [ ]:
type(first_num)

int

In [ ]:
first_num

1

In [ ]:
4 + 5.5

9.5

In [ ]:
5 + 6+7j

(11+7j)

In [ ]:
4.5 + 5+5j

(9.5+5j)

In [ ]:
first_num + second_num

3

# **Type Conversion**

Implicit: Auto type conversion by language.

Explicit: Manual type conversion using functions/methods.

In [ ]:
# Implicit Vs Explicit
print(5 + 5.6)            # Implicit: int + float → float
print(type(5), type(5.6)) # Show types: int, float
print(4 + '4')            # Error: no implicit int + str

10.6
<class 'int'> <class 'float'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Explicit

# str to int
int('4')

# int to str
str(5)

# float
float(4)

4.0

In [ ]:
# int
int(45)

45

In [ ]:
float(4)

4.0

In [ ]:
str(5)

'5'

In [ ]:
bool(1)

True

In [ ]:
complex(4)

(4+0j)

In [ ]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [ ]:
tuple("Hello")

('H', 'e', 'l', 'l', 'o')

In [ ]:
set("Hello")

{'H', 'e', 'l', 'o'}

In [ ]:
a = 4.5

In [ ]:
int(a)

4

In [ ]:
a

4.5

In [ ]:
first_num = input("Enter first number: ")
second_num = input("Enter second number: ")
result = int(first_num) + int(second_num)
print(result)

Enter first number: 67
Enter second number: 78
145

In [ ]:
first_num = int(input("Enter first number: "))
second_num = int(input("Enter second number: "))
result = first_num + second_num
print(result)

Enter first number: 87566858
Enter second number: 98676543
186243401

# **Literals**

Literals = basic data values for variables.

Types in Python:

Numeric literals

String literals

Boolean literals

Special literals

# **1. Numeric literals**

In [ ]:
# Integer Literals
a = 0b1010  # Binary
b = 100     # Decimal
c = 0o310   # Octal
d = 0x12c   # Hex

# Float Literals
f1 = 10.5
f2 = 1.5e2
f3 = 1.5e-3

# Complex Literal
x = 3.14j

print(a, b, c, d)
print(f1, f2, f3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

# **2. String literals**

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

# **3. Boolean literals**

In [ ]:
a = True + 4   # True == 1
b = False + 10 # False == 0

print("a:", a)
print("b:", b)

a: 5
b: 10

# **4. Special literals**

In [ ]:
a = None
print(a)

None

In [ ]:
# Variable Declaration
k = None

# **Operators in Python**

Arithmetic: +, -, *, /, %, **, //

Comparison: ==, !=, >, <, >=, <=

Logical: and, or, not

Bitwise: &, |, ^, ~, <<, >>

Assignment: =, +=, -=, *=, /=, %=, **=, //=

Identity: is, is not

Membership: in, not in

# **Arithmetic Operators**

In [ ]:
x = 5
y = 2
print(x + y)

7

In [ ]:
print(x - y)

3

In [ ]:
print(x * y)

10

In [ ]:
print(x / y)

2.5

In [ ]:
print(x % y)

1

In [ ]:
print(x ** y)

25

In [ ]:
print(x // y)

2

# **Comparison Operators**

In [ ]:
print(x > y)

True

In [ ]:

print(x < y)

False

In [ ]:
print(x >= y)

True

In [ ]:
print(x <= y)

False

In [ ]:
print(x == y)

False

In [ ]:
print(x != y)

True

# **Logical Operators**

In [ ]:
x = True
y = False
print( x or y)

True

In [ ]:
print(x and y)

False

In [ ]:
print(not x)
print(not y)

False
True

# **Bitwise Operators**

In [ ]:
x = 2
y = 3
print(x & y) # AND

2

In [ ]:
print(x | y) # OR

3

In [ ]:
print(2 ^ 3) # XOR
1

1

In [ ]:
print(x >> 2) # Right Shift

0

In [ ]:
print(y << 3) # Left Shift

24

In [ ]:
print(~ x) # NOT

-3

# **Assignment Operators**

In [ ]:
a = 3
print(a)

3

In [ ]:
a += 3   # a = a + 3
print(a)

6

In [ ]:
a -= 3   # a = a - 3
print(a)

3

In [ ]:
a *= 3   # a = a * 3
print(a)

9

In [ ]:
a /= 3   # a = a / 3
print(a)

3.0

In [ ]:
a++
++a

SyntaxError: invalid syntax (<ipython-input-64-eb1e8ffb1845>, line 1)

In [ ]:
a = a + 3
a += 3

# **Identity Operators**

In [ ]:
a = 3
b = 3
print(a is b)

True

In [ ]:
a = "Hello"
b = "Hello"
print(a is b)

True

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)

False

In [ ]:
a = "Hello-World"
b = "Hello-World"
print(a is b)
print(a is not b)

False
True

# **Membership Operators**

in & not in

In [ ]:
x = "Delhi"
print("D" in x)
print("D" not in x)

True
False

In [ ]:
x = [1, 2, 3]
print(1 in x)
print(5 in x)

True
False

In [ ]:
x = (1, 2, 3)
print(1 in x)
print(5 in x)

True
False

In [ ]:
# Sum of digits of a 3-digit number
number = int(input('Enter a 3 digit number: '))

# Units digit
a = number % 10
number //= 10

# Tens digit
b = number % 10
number //= 10

# Hundreds digit
c = number % 10

print(a + b + c)

Enter a 3 digit number: 980
17

# **if-else**

In [ ]:
# correct email - saurabh@gmail.com
# password = 1234

email = input("Apna email bata: ")
if "@" in email:
    password = input("Apna password bhi bata: ")

    if email == "saurabh@gmail.com" and password == "1234":
        print("Welcome")
    elif email == "saurabh@gmail.com" and password != "1234":
        print("Password incorrect")
        password = input("Password fir se bol: ")
        if password =="1234":
            print("Finally correct")
        else:
            print("Still incorrect")
    else:
        print("Incorrect credentials")
else:
    print("Email galat hai sahi likho: ")

Apna email bata: anusha.22cse@bmu.edu.in
Apna password bhi bata: 123456
Incorrect credentials

In [ ]:
# if-else Examples
# 1. Min of 3 Numbers
# 2. Menu Driven Program

In [ ]:
# 1. Min of 3 Numbers
a = int(input('first num: '))
b = int(input('second num: '))
c = int(input('third num: '))

if a < b and a < c:
    print('smallest is', a)
elif b < c:
    print('smallest is', b)
else:
    print('smallest is', c)

first num: 3
second num: 7
third num: 8
smallest is 3

In [ ]:
# 2. Menu-Driven Calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
2
balance

In [ ]:
# In Other Languages
if(name == "xyz"){
    something;
    something;
}else{
    something else;
    something else;
}

SyntaxError: invalid syntax (<ipython-input-78-7e7b9c6e417b>, line 2)

In [ ]:
# In Python
name = "xyz"
if name == "xyz":
    print("line1")
    print("line2")
    if 5 == 5:
        print("line5")
else:
    print("line3")

line1
line2
line5

# **Loops in Python**

##Need

Repeat code block.

Iteration: Execute same code repeatedly.

##While Loop

Executes while condition true.

##For Loop

Executes for each item in iterable.

# **While Loop**

In [ ]:
# While Loop Example
# While Loop
# For Loop
# C
while(condition){
    code
}

SyntaxError: invalid syntax (<ipython-input-80-5dc1ceb7aaf1>, line 5)

In [ ]:
# Python
while condition:
    code

NameError: name 'condition' is not defined

In [ ]:
# 1. Print Multiplication Table
number = int(input("Enter the number: "))
i = 1
while i < 11:
    print(number * i)
    i += 1

Enter the number: 15
15
30
45
60
75
90
105
120
135
150

In [ ]:
number = int(input("Enter the number: "))
i = 1
while i < 11:
    print(number, "*", i, "=", number * i)
    i += 1

Enter the number: 16
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160

In [ ]:
# while loop with else
x = 1
while x < 3:
  print(x)
  x += 1
else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
# 2. Sum of Digits
number = int(input("Enter the number: "))
sum_digits = 0
while number > 0:
    digit = number % 10
    sum_digits += digit
    number //= 10
print(f"Sum of digits: {sum_digits}")

Enter the number: 78
Sum of digits: 15

In [ ]:
# 3. Average of Numbers Until 0
count = 0
total = 0
while True:
    number = int(input("Enter a number (0 to stop): "))
    if number == 0:
        break
    total += number
    count += 1
if count > 0:
    average = total / count
    print(f"Average of entered numbers: {average}")
else:
    print("No numbers entered.")

Enter a number (0 to stop): 6
Enter a number (0 to stop): 8
Enter a number (0 to stop): 6
Enter a number (0 to stop): 0
Average of entered numbers: 6.666666666666667

In [ ]:
import random
random.randint(1, 100)

60

In [ ]:
jackpot = random.randint(1, 100)
guess = int(input("Chal guess kar: "))
counter = 1
while guess != jackpot:
    if guess < jackpot:
        print("Guess higher")
    else:
        print("Guess lower")
    guess = int(input("Chal guess kar: "))
    counter += 1
print("Sahi Jawab")
print("You took", counter, "attempts")

Chal guess kar: 68
Guess higher
Chal guess kar: 90
Guess lower
Chal guess kar: 23
Guess higher
Chal guess kar: 67
Guess higher
Chal guess kar: 60
Guess higher
Chal guess kar: 74
Guess lower
Chal guess kar: 89
Guess lower
Chal guess kar: 78
Guess lower
Chal guess kar: 70
Sahi Jawab
You took 9 attempts

# **For Loop**

In [ ]:
# C, C++, Java Loop Syntax
for(i=0; i<10; i++) {
    // code
}

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-90-ca18558c5ad9>, line 2)

In [1]:
# Range Function
range(1, 11)

range(1, 11)

In [2]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(5))

[0, 1, 2, 3, 4]

In [4]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [5]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [6]:
list(range(1, 11, 3))

[1, 4, 7, 10]

In [7]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
# Sequence
# String
"Kolkata"

'Kolkata'

In [9]:
["Kolkata", "Delhi", "Mumbai"]

['Kolkata', 'Delhi', 'Mumbai']

In [10]:
("Kolkata", "Delhi", "Mumbai")

('Kolkata', 'Delhi', 'Mumbai')

In [11]:
{"Kolkata", "Delhi", "Mumbai"}

{'Delhi', 'Kolkata', 'Mumbai'}

In [12]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [14]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [15]:
for i in "Kolkata":
    print(i)

K
o
l
k
a
t
a

In [16]:
for i in [1, 2, 3, 5]:
    print(i)

1
2
3
5

In [17]:
for i in (1, 2, 3, 5):
    print(i)

1
2
3
5

In [18]:
for i in {1, 2, 3, 5}:
    print(i)

1
2
3
5

In [19]:
# 1. Population Growth Calculation

# Initial Population: 10000
# Growth Rate: 10% annually
# Duration: 10 years

curr_pop = 10000
for i in range(10, 0, -1):
    print(i, curr_pop)
    curr_pop = curr_pop / 1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [20]:
# 2. Sequence Sum

# Formula: 1/1! + 2/2! + 3/3! + ...

n = int(input('enter n: '))
result = 0
fact = 1
for i in range(1, n+1):
    fact *= i
    result += i / fact
print(result)

enter n: 7
2.7180555555555554

**For Loop** : Known iterations.

for item in iterable:

    # Code block
iterable: list, tuple, string, etc.



**While Loop**: Unknown iterations.

while condition:

    # Code block
condition: boolean expression.

Key Differences is For Loop iterates a fixed number of times; While Loop iterates until condition is False.

For Loop Usage - Known iterations/sequence traversal; While Loop Usage - Uncertain iterations/condition-based.

# **Nested Loops**

In [21]:
# Unique Pairs Example

for i in range(1, 5):
    for j in range(1, 5):
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [22]:
# *
# * *
# * * *
# * * * *
# * * * * *

rows = int(input("Enter rows: "))
for i in range(1, rows + 1):
    for j in range(0, i):
        print("*", end=" ")
    print("")

Enter rows: 5
*
* *
* * *
* * * *
* * * * *

In [23]:
# 1
# 121
# 12321
# 1234321

rows = int(input('Enter rows: '))
for i in range(1, rows+1):
  for j in range(1, i+1):
    print(j, end='')
  for k in range(i-1, 0, -1):
    print(k, end='')
  print()

Enter rows: 4
1
121
12321
1234321

# **Loop Control Statements**

**Break:** Ends loop immediately.

**Continue:** Skips to next iteration.

**Pass:** Placeholder; does nothing.

In [24]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [25]:
lower = int(input('lower: '))
upper = int(input('upper: '))
for i in range(lower, upper+1):
  for j in range(2, i):
    if i % j == 0:
      break
  else:
    print(i)

lower: 4
upper: 3

In [26]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [27]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)
    print("Hello")

1
Hello
2
Hello
3
Hello
4
Hello
6
Hello
7
Hello
8
Hello
9
Hello
10
Hello

In [29]:
for i in range(1, 11):
    pass